* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.divider {
  width: 90px;
  height: 2px;
  background: orange;
}

.t-orange {
  color: #E44D26;
}

.t-purple {
  color: #7952B3;
}

.t-pink {
  color: #C76495;
}

.t-blue {
  color: #016DB5;
}

#v-home {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1.25rem;
  color: white;
}
#v-home .video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("../img/bg1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#v-home .video-container video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#v-home .video-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
#v-home .v-content {
  z-index: 10;
}
#v-home .v-content h1 {
  color: orange;
  font-size: 2.5rem;
}
#v-home .btn {
  background: rgba(255, 255, 255, 0.3);
  color: black;
  padding: 0.5rem 4.25rem;
  font-size: 1.1rem;
  transition: all 0.5s ease;
}
#v-home .btn:hover {
  transform: translateY(10px);
  background: orange;
}

nav {
  position: absolute !important;
  z-index: 99;
  top: 5%;
  left: 0;
}
nav a {
  color: white !important;
}
nav .nav-link {
  width: 100%;
  position: relative;
}

#about a {
  text-decoration: none;
  font-weight: bolder;
  color: #0054A7;
  transition: all 0.5s ease;
}
#about img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  z-index: 3;
  transition: all 0.5s ease;
}
#about img:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.8);
}

#projects {
  width: 100%;
  height: 100%;
  background: rgba(27, 36, 47, 0.1);
}
#projects .nav-link {
  background: white;
  padding: 0.75rem 5rem;
  transition: all 0.5s ease;
  color: black;
}
#projects .nav-link:hover {
  transform: scale(1.1);
}
#projects .active {
  background: #1b242f;
  color: white;
}
#projects .tab-pane {
  background: none !important;
}

.project-box {
  width: 100%;
  height: 300px;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.project-box img {
  width: 100%;
  height: 100%;
}
.project-box .p-title {
  top: -20%;
  transition: all 0.5s ease;
}
.project-box .p-links {
  bottom: -20%;
  transition: all 0.5s ease;
}
.project-box .project-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  opacity: 0;
  transition: all 0.5s ease;
}
.project-box .project-overlay:hover {
  opacity: 1;
}
.project-box .project-overlay:hover .p-title {
  top: 30%;
}
.project-box .project-overlay:hover .p-links {
  bottom: 25%;
}

#contact {
  width: 100%;
  height: 100%;
  background: #2D3038;
}
#contact h4 {
  transition: all 0.3s ease;
}
#contact p {
  color: grey;
  transition: all 0.2s ease;
}
#contact .special-p:hover {
  color: white;
}
#contact .contact-boxes {
  font-size: 1.25rem;
  color: lightblue;
  transition: all 0.8s ease;
}
#contact .contact-boxes:hover {
  font-size: 1.5rem;
  color: orange;
  transform: translateY(50px);
}
#contact .contact-boxes:hover ~ p {
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
}
#contact .contact-boxes:hover ~ h4 {
  opacity: 0;
}
#contact a {
  background: lightblue;
  padding: 0.5rem 1.25rem;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  transition: all 0.5s ease;
}
#contact a:hover {
  color: white;
  background: #0073B1;
}

#socials {
  width: 100%;
  height: 100%;
  background: #2D3038;
}
#socials a {
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  width: 23%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: all 0.5s ease;
}
#socials a:hover {
  color: black;
  background: orange;
  transform: translateY(-20px);
}

#skills {
  width: 100%;
  height: 100%;
  background: #2D3038;
}
#skills p {
  color: grey;
  transition: all 0.2s ease;
}
#skills .special-p:hover {
  color: white;
}
#skills i {
  font-size: 6rem;
}
#skills h4 {
  color: white;
  transition: all 0.5s ease;
}
#skills .h4-special:hover {
  transform: translatey(10px);
}
#skills .row p {
  color: white;
  font-weight: bold;
  margin-top: 1rem;
}
#skills .icon-box {
  height: 80%;
  width: 100%;
  transition: all 0.5s ease;
}
#skills .icon-box:hover {
  transform: translateY(-15px) scale(1.3);
}
#skills .divider2 {
  width: 95%;
  background: white;
  height: 1px;
}

@media (max-width: 576px) {
  video {
    display: none;
  }
}
@media (max-width: 992px) {
  nav {
    position: fixed !important;
    background: #1B242F;
    top: 0;
    border-bottom: 1px solid grey;
  }
  nav ul {
    border-top: 1px solid grey;
    margin-top: 1rem;
  }
  nav a {
    font-size: 1.3rem;
    transition: all 0.5s ease;
  }
  nav a:hover {
    color: darkgrey !important;
    margin-left: 20px;
  }
}
@media (min-width: 992px) {
  .v-content h1 {
    color: orange;
    font-size: 5.5rem !important;
    text-shadow: 2px 1px darkorange;
    cursor: none;
  }
  .v-content h1 .l-u {
    transition: all 0.3s ease;
  }
  .v-content h1 .l-u:hover {
    transform: translateY(-20px);
  }

  nav .container {
    padding: 1rem;
  }
  nav .container ul li {
    margin-right: 2rem;
  }
  nav a {
    font-size: 1.3rem;
  }

  .nav-link-1:hover {
    transition: 0.5s;
    color: orange !important;
    transform: translateY(-10px);
  }
  .nav-link-1:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 80%;
    height: 2px;
    background-color: white;
    -webkit-transition: transform 250ms;
    transition: transform 250ms;
  }
  .nav-link-1:hover:after {
    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
